<a href="/books">
  <div class="ui hidden divider"></div>
  <div id="navbar" class="ui segment">
    <h2 class="ui header">
      <i class="book icon"></i>
      <div class="content">
        My Library
        <div class="sub header">Ember X Django Project</div>
      </div>
    </h2>
  </div>
</a>
  <br>
  {{outlet}}
  <br>
